<h2>Bookmarks</h2>
<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
  <% @bookmarks.each do |bookmark| %>
    <tr>
    <td><%= link_to bookmark.title, bookmark.url %></td>
    <td><%= link_to @user.username, profile_path(@user) %></td>
  </tr>
<% end %>
  </tbody>
</table>

<%= paginate @bookmarks %>

<h2>Followers </h2>
<table>
  <thead>
    <tr>
      <th>User Name </th>
    </tr>
  </thead>
  <tbody>
    <% @followers.each do |user| %>
      <tr>
        <td><%= link_to user.username, profile_path(user) %></td>
      </tr>
    <% end %>  
  </tbody>
</table>

<h2>Following </h2>
<table>
  <thead>
    <tr>
      <th>User Name </th>
    </tr>
  </thead>
  <tbody>
    <% @followings.each do |user| %>
      <tr>
        <td><%= link_to user.username, profile_path(user) %></td>
      </tr>
    <% end %>  
  </tbody>
</table>

<%= link_to 'Back', profiles_path %>
